#panda {
    width: 1600px;
    height: 387px;
    background-image: url("../../assets/images/donate/panda_bg.png");
}

#donate {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    height: 1482px;
}

#donate-box {
    padding-top: 40px;
    margin: 0 220px 0 220px;
    width: 1160px;
}

#donate-title {
    color: white;
}

h3 {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

#donate-box-description {
    margin-top: 10px;
    color: white;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.body-roboto {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

#donate-description {
    margin-top: 45px;
    color: #FE9013;
}

#pick-and-feed {
    margin-top: 60px;
    height: 964px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

#pick-and-feed-box {
    color: #FE9013;
    padding: 40px 92px 62px 92px;
}

#pick-and-feed-title {
    margin-right: 10px;
}

#pick-and-feed-description {
    color: #333B41;
    margin-top: 20px;
}

#diet-box {
    margin-top: 60px;
    height: 246px;
}

#diet-panda-box {
    display: flex;
    margin-left: 215px;
    flex-direction: row;
}

#diet-panda-qantity-box {
    width: 159px;
}

#diet-panda-quantity {
    margin: 105px 0 0 0;
    color: black;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
}

#diet-panda-quantity-description {
    color: #333B41;
    margin: 11px 0 0 0;
}

#diet-panda-x {
    align-self: end;
    margin-bottom: 101.5px;
    margin-left: 11px;
}

#diet-panda-img {
    margin-left: 64px;
}

#amount {
    margin-top: 48.53px;
    color: black;
}

#pick-amount-range {
    margin-top: 15px;
    width: 976px;
    display: flex;
    position: relative;
    height: 27px;
    background: #404950;
    border-radius: 2px;
}

#pick-amount-line {
    z-index: 0;
    width: 915px;
    left: 31px;
    top: 13px;
    position: absolute;
    background: #72828E;
    height: 2px;
}

#pick-amount-range-box {
    padding-left: 5px;
    position: relative;
    left: 6px;
    display: flex;
    justify-content: space-between;
    width: 955px;
    height: 100%;
}

.pick-amount-input {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 27px;
    -webkit-appearance: none;
}

.pick-amount-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
}

.pick-amount-input:hover~.pick-amount-circle {
    background: #FE9013;
}

.pick-amount-input:checked~.pick-amount-circle {
    z-index: 1;
    position: absolute;
    background: url('../../assets/images/donate/roller_icon.svg') no-repeat center;
    width: 40px;
    height: 40px;
    overflow: visible;
}

.pick-amount-range-input-box {
    display: flex;
    width: 40px;
    height: 27px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pick-amount-range-input-description {
    left: -14px;
    position: absolute;
    top: 41px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #333B41;
}

.pick-amount-input:checked~.pick-amount-range-input-description {
    color: #FE9013;
}

#another-amount-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 98px;
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
}

#another-amount {
    flex: 1;
    height: 54px;
    border: none;
    background: none;
    text-indent: 6px;
    color: #333B41;
}

#another-amount:focus {
    outline: none;
    /* -webkit-appearance: none; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#another-amount-icon {
    background: url(../../assets/images/donate/dollar.svg);
    height: 20px;
    width: 10px;
    margin-right: 10px;
}

#amount-frequency-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-right: 13px;
    width: 197px;
    height: 22px;
}

.amount-frequency-input-box {
    display: flex;
    align-items: center;
}

.amount-frequency-input {
    margin: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    border: 1px solid #FE9013;
    border-radius: 50%;
}

.amount-frequency-input:checked {
    background: #4B9200;
    border: 1px solid #4B9200;
}

.amount-frequency-input-description {
    margin-left: 10px;
    color: black;
}

#feed-btn {
    margin-left: 10px;
    margin-top: 30px;
}

#share-text {
    color: #333B41;
    margin-left: 5px;
    margin-top: 30px;
}

@media (max-width: 1000px) {

    #panda {
        width: 1000px;
        position: static;
        height: 390px;
        background-image: url("../../assets/images/donate/panda_bg_small.png");
    }

    #donate {
        height: 1333px;
    }

    #donate-box {
        margin-left: 30px;
        width: 939px;
    }

    #donate-title {
        width: 778px;
    }

    #donate-box-description {
        padding-top: 20px;
    }

    #pick-and-feed {
        margin-top: 40px;
        height: 919px;
    }

    #pick-and-feed-title {
        margin-right: 20px;
        margin-top: -20px;
    }

    #pick-and-feed-box {
        padding: 40px 41px 62px 46px;
    }

    #diet-panda-box {
        margin-left: 151px;
    }

    #pick-and-feed-description {
        margin-top: 11px;
        margin-left: 1px;
    }

    #diet-box {
        padding-top: 0px;
    }

    .pick-amount-range-input-box:first-child {
        display: none;
    }

    #amount {
        margin-left: -2px;
    }

    #pick-amount-range {
        width: 809px;
        margin-right: 4px;
        margin-top: 15px;
    }

    #pick-amount-line {
        width: 785px;
        left: 13px;
    }

    #pick-amount-range-box {
        width: 809px;
    }

    #another-amount-box {
        margin-top: 97px;
    }

    #another-amount {
        margin-left: -5px;
    }

    #button-feed {
        margin-left: 0px;
        margin-top: 29px;
    }

    #share-text {
        margin-left: 0px;
    }

    .pick-amount-range-input-box {
        left: -7px;
        width: 27px;
    }

    #desc2000 {
        left: -5px;
    }

    #desc1000 {
        left: -6px;
    }

    #desc500 {
        left: -6px;
    }

    #desc250 {
        left: -6px;
    }

    #desc100 {
        left: -6px;
    }

    #desc50 {
        left: -4px;
    }

    #desc25 {
        left: -4px;
    }

    #amount-frequency-box {
        margin-right: 20px;
    }

    #feed-btn {
        margin-left: 0;
    }

    #footer-center-column {
        left: 333px;
        width: 332px;
    }

}

@media (max-width: 640px) {
    #panda {
        width: 640px;
        height: 335px;
        background-image: url("../../assets/images/donate/panda_bg_tablet.png");
    }

    h3 {
        font-size: 24px;
    }

    #donate-box {
        width: 592px;
    }

    #donate-title {
        font-size: 24px;
        width: 600px;
        margin-left: -10.5px;
        margin-top: -10px;
        line-height: 120%;
    }

    #donate-box-description {
        padding-top: 9px;
        margin-left: -11px;
    }

    #donate-description {
        margin-top: 28px;
        font-size: 36px;
        margin-left: -10px;
    }

    #pick-and-feed {
        margin-top: 31px;
        margin-left: -10px;
        width: 600px;
    }

    #pick-and-feed-title {
        margin-right: 3px;
        margin-top: -8px;
    }

    #pick-and-feed-description {
        margin-top: 19px;
        margin-left: -4px;
        text-align: center;
    }

    #diet-panda-box {
        margin-left: -19px;
        margin-top: -10px;
    }

    #amount-frequency-box {
        margin-top: 30px;
        margin-right: 25px;
    }

    fieldset {
        margin: -8px -13px 0 0;
    }

    #amount {
        margin-left: -4px;
    }

    #pick-amount-range {
        width: 600px;
        margin-left: -15px;
        margin-top: 7px;
    }

    #pick-amount-line {
        width: 524px;
        left: 41px;
    }

    .pick-amount-range-input-box:nth-child(1),
    .pick-amount-range-input-box:nth-child(2),
    .pick-amount-range-input-box:nth-child(3) {
        display: none;
    }

    #pick-amount-range-box {
        left: 27px;
        width: 553px;
    }

    #desc500 {
        left: -10px;
    }

    #desc250 {
        left: -10px;
    }

    #desc100 {
        left: -10px;
    }

    #desc50 {
        left: -10px;
    }

    #desc25 {
        left: -10px;
    }

    #another-amount-box {
        margin-top: 98px;
        margin-left: -6px;
    }

    #another-amount-box {
        width: 178px;
        height: 41px;
    }

    #another-amount-icon {
        margin-right: 8px;
    }

    #share-text {
        margin-left: -5px;
    }

    #footer-center-column {
        left: 21px;
        bottom: 12px;
        width: 296px;
    }

}

@media (max-width: 320px) {

    #panda {
        background-image: url("../../assets/images/donate/panda_bg_mobile.png");
        width: 320px;
        height: 187px;
    }

    #donate {
        height: unset;
        padding-bottom: 21px;
    }

    #donate-title {
        line-height: 122%;
        width: 300px;
        margin-left: -20.5px;
        margin-top: -10px;
    }

    #donate-box {
        width: 279px;
    }

    #donate-box-description {
        padding-top: 9px;
        margin-left: -21px;
        line-height: 138%;
    }

    #donate-description {
        margin-top: 29px;
        font-size: 24px;
        margin-left: -20px;
    }

    h2 {
        font-size: 24px;
    }

    #pick-and-feed {
        margin-top: 28px;
        margin-left: -20px;
        width: 300px;
        height: 591px;
    }

    #pick-and-feed-box {
        padding: 0;
    }

    #pick-and-feed-title {
        margin-right: -1px;
        margin-top: 0;
        padding-top: 20px;
    }

    .subtitle {
        font-size: 16px;
    }

    #pick-and-feed-description {
        line-height: 135%;
        margin-top: 10px;
        margin-left: -1px;
    }

    #diet-panda-img {
        width: 160.4px;
        height: 156.92px;
        margin-top: -41px;
    }

    #diet-panda-quantity {
        font-size: 40.6px;
        margin-top: 27px;
        margin-left: 0px;
    }

    #diet-panda-box {
        margin-left: 0px;
        margin-top: -16px;
        width: 309px;
    }

    #diet-panda-x {
        align-self: end;
        margin-bottom: 67px;
        margin-top: -6px;
        margin-left: 6px;
        width: 8px;
    }

    #diet-panda-quantity-description {
        font-weight: 400;
        font-size: 9.02255px;
        line-height: 140%;
        margin: 6px 0 0 0;
    }

    #diet-panda-img {
        margin-left: 36px;
    }

    #amount {
        margin-left: -9px;
        font-size: 16px;
        margin-top: -129px;
    }

    #pick-amount-range {
        width: 300px;
        height: 13.5px;
        margin-left: -9px;
        margin-top: 9px;
    }

    #pick-amount-line {
        height: 1px;
        width: 261px;
        left: 20px;
        top: 6px;
    }

    .input-value {
        font-size: 13px;
    }

    .pick-amount-circle {
        width: 5px;
        height: 5px;
    }

    #pick-amount-range-box {
        padding-left: 13px;
        left: 0px;
        width: 300px;
    }

    .pick-amount-range-input-box {
        height: 13.5px;
    }

    .pick-amount-input:checked~.pick-amount-circle {
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 20px;
    }

    .pick-amount-range-input-description {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        top: 19px;
    }

    #desc500 {
        left: 1px;
    }

    #desc250 {
        left: 1px;
    }

    #desc100 {
        left: 1px;
    }

    #desc50 {
        left: 1px;
    }

    #desc25 {
        left: 1px;
    }

    .input-amount:checked~.amount-icon {
        background: url(../../assets/images/donate/roller_icon320.svg);
        width: 20px;
        height: 20px;
        background-size: contain;
        background-position: center;
    }

    #amount-frequency-box {
        margin-top: 24px;
        margin-right: 23px;
    }

    #feed-btn {
        margin-top: 28px;
    }

    #another-amount-box {
        width: 180px;
        height: 42px;
        margin-top: -35px;
        margin-left: 2px;
    }

    #another-amount {
        text-indent: 8px;
        font-size: 16px;
    }

    #button-feed {
        margin-left: 1px;
        margin-top: 20px;
    }

    #share-text {
        margin-left: -1px;
        font-size: 16px;
    }

    #footer-center-column {
        left: 21px;
        bottom: 19px;
        width: 278px;
    }
}